---
import MainLayout from "../layouts/MainLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<MainLayout title="Blog" description="The main page of my blog">
    <p>This is where I will post about my journey learning Astro.</p>

    <ul>
        {
            allPosts.map(post => (
                <li><a href={(post.url) + "/index.html"}>{post.frontmatter.title}</a></li>
            ))
        }
    </ul>
</MainLayout>