---
const {title, description} = Astro.props;
import MainNav from "../components/MainNav.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{("RyanB | " + Astro.props.title)}</title>
	</head>
	<body>
        <MainNav></MainNav>
		<slot></slot>
	</body>
</html>